{% extends "_base.html" %}
    {% block title %}
        <title>Login</title>
    {% endblock %}
    {% block content %}
    <h1 class="title has-text-centered">Login</h1>
    <form method="post" action="form">
        {% csrf_token %}
        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" name="name" placeholder="Enter your Username">
            </div>
        </div>
        
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="number" name="age" placeholder="Enter your Password">
            </div>
        </div>
        
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="button">Login</button>
            </div>
            <div class="control">
                <button class="button is-link is-light" type="reset">Reset</button>
            </div>
        </div>
    </form>
    {% endblock %}